:root {
    --profile-img-width: 240px;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

input,
select,
#submit {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
}

p {
    margin-top: 8px;
    margin-bottom: 0px;
}

dialog {
    border: none;
    border-radius: 10px;
    width: 250px;
}

dialog::backdrop {
    background-color: black;
    opacity: 50%;
}

button {
    padding: 5px 20px;
    font-size: 1rem;
}

a {
    text-align: center;
    color: #007bff;
    cursor: pointer;
}

select {
    background-color: white;
}

dialog p {
    text-align: center;
}

dialog div {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.profile-container,
.form-container,
dialog {
    padding: 20px;
    margin: 50px auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.profile-container {
    width: fit-content;
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 20px;
}

.img-container {
    width: var(--profile-img-width);
    height: var(--profile-img-width);
    border-radius: 5px;
    background-color: #f4f4f4;
}

.img-container+button {
    width: 100%;
    margin-top: 10px;
}

.info-container {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 20px;
}

.info-container label {
    font-weight: bold;
}

.info-container input:disabled,
.info-container select:disabled {
    appearance: none;
    border-color: transparent;
    background-color: transparent;
    padding-left: 0px;
    padding-right: 20px;
    color: black;
}

.info-container h1 {
    margin: 0px 0px 10px;
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    gap: 10px;
}

#edit {
    margin-left: auto;
}

.form-container {
    width: 400px;
}

.error-field {
    border: 1px solid red;
    outline: 1px solid red;
}

.error-span {
    display: block;
    height: 0.8rem;
    padding-top: 5px;
    color: red;
    font-size: 0.8rem;
}

.submission-error {
    display: none;
    padding: 20px 10px;
    background-color: rgb(255, 216, 223);
    border: 3px solid red;
    border-radius: 5px;
    color: red;
    text-align: center;
}

.center-text {
    text-align: center;
}

.full-width {
    width: 100%;
}

.border-box {
    box-sizing: border-box;
}

#profile-image {
    padding: 10px 0px;
    border: none;
}

#submit {
    border-radius: 3px;
    background-color: #4caf50;
    color: white;
}