body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

a {
    text-align: center;
    color: #007bff;
    cursor: pointer;
}

input,
select,
#submit {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
}

select {
    background-color: white;
}

.form-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.error-field {
    border: 2px solid red
}

.error-field:focus {
    outline: none;
}

.error-span {
    display: block;
    padding-top: 5px;
    color: red;
    font-size: 0.8rem;
}

.submission-error {
    display: none;
    padding: 20px 10px;
    background-color: rgb(255, 216, 223);
    border: 3px solid red;
    border-radius: 5px;
    color: red;
    text-align: center;
}

.center-text {
    text-align: center;
}

.full-width {
    width: 100%;
}

.border-box {
    box-sizing: border-box;
}

#profile-image {
    padding: 10px 0px;
    border: none;
}

#submit {
    border-radius: 3px;
    background-color: #4caf50;
    color: white;
}